<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Welcome to Giggle Burgers!</title>
	<!--Bootstrap Bootswatch CDN link-->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/readable/bootstrap.min.css" rel="stylesheet" integrity="sha384-Li5uVfY2bSkD3WQyiHX8tJd0aMF91rMrQP5aAewFkHkVSTT2TmD2PehZeMmm7aiL" crossorigin="anonymous">
    <!--Viewport tag for media queries.-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
