<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta charset="UTF-8">
	<meta name="description" content="Prototype for Burger Naming App ">
 	<meta name="keywords" content="HTML,CSS,JavaScript, MySQL, NodeExpress">
  	<meta name="author" content="Helen Smith">

	<meta property="og:url" content="https://agile-journey-91704.herokuapp.com/" />
	<meta property="og:type"  content="website" />
	<meta property="og:title" content="fantastic giggle burger" />
	<meta property="og:description" content="prototype for burger naming application" />
	<meta property="og:image" content="https://agile-journey-91704.herokuapp.com/assets/img/burger.png" />

	<title>Welcome to Giggle burger!</title>
	<!--Bootstrap Bootswatch CDN link-->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/readable/bootstrap.min.css" rel="stylesheet" integrity="sha384-Li5uVfY2bSkD3WQyiHX8tJd0aMF91rMrQP5aAewFkHkVSTT2TmD2PehZeMmm7aiL" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	</head>
	<body>
		{{{ body }}}
	</body>
</html>

