<!-- Header -->
<div class="row">
    <div class="col-xs-12">
        <img src="assets/img/burger.png" alt="logo for giggle burger">
        <br>
        <h1>Welcome</h1>
    </div>
</div>

<!-- Main Content -->
<div class="row">
    <!-- Ready burger column -->
    <div class="col-xs-12 col-sm-6">
        <h3>You're Burger is Ready</h3>
        <ul>
             <!--If not devoured, create an item with its name and a 'Gobble It Up' button. -->
            {{#each burgers}}
                {{#unless this.devoured}}
                    <li class="holder">
                        <h4>{{this.burger_name}}</h4>
                        <form action="/{{this.id}}?_method=PUT" method="POST">
                            <input type="hidden" name="devoured" value="true">
                            <button type="submit" class="btn btn-danger btn-sm">Gobble It Up</button>
                        </form>
                    </li>
                {{/unless}}
            {{/each}}
        </ul>
    </div>

     <div class="col-xs-12 col-sm-6">
        <h3>Gobbled Up</h3>
        <ul>
            <!--If devoured, create an item with its name and a button. -->
            {{#each burgers}}
                {{#if this.devoured}}
                    <li class="holder">
                    <h4>{{this.burger_name}}</h4>
                    <form action="/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="false">
                        <button type="submit" class="btn btn-danger btn-sm">Give Me Another Giggle</button>
                    </form>
                </li>
                {{/if}}
            {{/each}}
        </ul>
    </div>

    <!-- Order -->
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <!-- Burger addition form -->
            <h3>Create Your Own <br> Giggle Burger</h3>
            <form class="create-update-form add-form" action="/" method="POST">
                <div class="form-group">
                    <label for="burger" class="sr-only">Burger Name:</label>
                    <input type="text" id="burger" name="name" placeholder="Burger Name" class="form-control" maxlength="30">
                </div>
                <button type="submit" class="btn btn-danger">Order Now</button>
            </form>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-xs-12">
        <a href="https://github.com/intaglioplate312/fantastic-octo-giggle-burger"><img src="assets/img/git.png" alt="link to github"></a>
  </div>
</div>


